body {
    margin: 0;
    padding: 0;
}

.section-1 {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 130px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.description {
    font-size: 18px;
    color: #e5e7eb
}

.hero-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 18px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    margin-top: 10px;
}

img {
    width: 350px;
}

.text {
    width: 350px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: row;
}