body {
    margin: 0;
    padding: 0;
}

.section-1 {
    background-color: #1f2937;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.content {
    padding-bottom: 50px;
}

.description {
    font-size: 18px;
    color: #e5e7eb
}

.hero-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
}

img {
    width: 300px;
}